stages:
  - build

variables:
  VERSION: "$CI_COMMIT_TAG"
  BRANCH_TAG: "$CI_COMMIT_BRANCH"
build-docker-images:
  image:
    name: docker
    pull_policy: if-not-present
  services:
    - name: docker:dind
      pull_policy: if-not-present
  stage: build
  before_script:
    - docker info
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script: |
    VERSION=${VERSION:=latest-test}
    BRANCH_TAG=${BRANCH_TAG:=""}
    if [ "$BRANCH_TAG" == "main" ];then
      BRANCH_TAG=""
    fi
    for dir in */;do
      IMAGE_FOLDER="${dir%%/*}"
      if [ ! -f "$dir/Dockerfile" ];then
        echo "Skipped $IMAGE_FOLDER because has no Dockerfile"
        continue
      fi
      echo "Building $IMAGE_FOLDER"
      docker build -t "$CI_REGISTRY_IMAGE/$IMAGE_FOLDER:$BRANCH_TAG_$VERSION" $dir
      docker push "$CI_REGISTRY_IMAGE/$IMAGE_FOLDER:$BRANCH_TAG_$VERSION"
    done
      echo "Compile complete."