name: Snyk

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.github/workflows/**'
      - 'sonar-project.properties'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '.github/workflows/**'
      - 'sonar-project.properties'
  workflow_dispatch:

jobs:
  snyk-scan:
    name: Snyk Security Analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install Snyk
        uses: snyk/actions/setup@master

      # --all-projects: scansiona tutte le sottocartelle
      - name: Snyk Test (All Projects)
        continue-on-error: true
        run: snyk test --all-projects --sarif-file-output=snyk.sarif
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk.sarif
